.card-title {
  color: #ff6969;
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.card-text {
  margin: 1em 0;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 125%;
  font-weight: 400;
}

.del-ico {
  margin: 0 1rem;
  color: #c80036;
  font-size: 1.5rem;
  cursor: pointer;
}

.ed-ico {
  color: #4158a6;
  font-size: 1.5rem;
  cursor: pointer;
}
