.title {
  font-size: 2rem;
  color: #ff6969;
  font-weight: 600;
  margin-bottom: 3rem;
}

.hbtn {
  background-color: #0c1844;
  color: #fff5e1;
}

.abtn {
  background-color: #0c1844;
  color: #fff5e1;
}

p {
  margin: 1em 0;
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 125%;
  font-weight: 400;
}

.lab {
  font-size: 1.5rem;
  color: #0c1844;
}

.upload {
  font-size: 3rem;
  color: #0c1844;
}
