.title {
  color: #ff6969;
}
.hbtn {
  background-color: #ff6969;
  color: #fff5e1;
}
.img-in {
  text-decoration: underline;
  color: black;
}
.del-ico {
  margin-left: 1rem;
  color: #ff6969;
  font-size: 1.5rem;
  cursor: pointer;
}
