.title {
  color: #ff6969;
}
.field-title {
  color: #ff6969;
  font-weight: bold;
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.field {
  line-height: 1.5;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
}
